body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

main {
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

canvas {
    border: 1px solid #ccc;
    margin: 20px auto;
    display: block;
}

#quiz, #password-game {
    margin: 20px auto;
    text-align: left;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}


